node_modules/
dist/
.next/
.build/

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/
.DS_Store

.prisma/
prisma/migrations/*/README.md

.env
.env.*
!.env.example

*.local
*.pid
